body {
    background-color: azure;
    color: navy;
    margin: 0;
}

h1 {
    text-align: center;
}

div#divFlex {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

div#divGuests {
    background-color: red;
    width: 30vw;
    height: auto;
    /* text-align: center; */
}

div#divAlbums {
    background-color: orange;
    width: 70vw;
    height: auto;
    /* text-align: center; */
}

div h3 {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}